# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt

# Autres fichiers générés par Unity
UserSettings/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# JetBrains Rider
.idea/

# Visual Studio Code
.vscode/

# Cache de paquet Unity
Packages/packages-lock.json
